# Altium Designer .gitignore
# Local history & preview cache
History/
__Previews/

# Project logs
Project Logs for */
Generated/

# Generated outputs, Gerber, BOM, netlist
Project Outputs*/

# Temp & lock files
*.tmp
*.~*
~$*
*.PcbDoc.htm
*.SchDoc.htm
*.ldb

# Workspace
*.DsnWrk
*.DesWrk

# Keep source files
!*.PrjPcb
!*.SchDoc
!*.PcbDoc
!*.SchLib
!*.PcbLib
!*.LibPkg
